<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    {% if title %}
    {{ title }}
    {% else %}
    Online auction
    {% endif %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>
  {% include 'navbar.html' %}
  {% include 'flash_messages.html' %}
  <div>
    <br><br><br>
    <form action="" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <input type="name" name="name" id="name" class="form-control" placeholder="Product Name">
      </div>
      <div class="form-group mb-4">
        <input type="description" name="description" id="description" class="form-control"
          placeholder="Product Description">
      </div>
      <div class="form-group">
        <input type="file" name="file" multiple="true" autocomplete="off" required class="form-control"
          placeholder="Add Images">
      </div>
      <input name="submit" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Add Product">
    </form>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>